// Import theming functions
@import '~@angular/material/theming';
@import "../themes";

/* OVERALL */

//.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container

:host ::ng-deep .switch {

  /*  &__default {
      & .mat-slide {
        &-toggle {
          &.mat-checked {
            & .mat-slide-toggle-thumb-container {
              transform: translate3d(26px, 0, 0) !important;
            }
          }

          &-bar {
            width: 45px;
            margin-right: 17px;
            height: 20px;
            border-radius: 50px;
          }
          &-thumb-container {
            transform: translateY(3px);
          }
        }
      }
    }*/

  &__theming {
    .mat-slide {
      &-toggle {
        &.mat-checked {
          & .mat-slide-toggle-thumb {
            background-image: url("../assets/svg/moon.svg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            transition: all .3s;
          }


          & .mat-slide-toggle-thumb-container {
            transform: translate3d(26px, 0, 0)
          }
        }

        &-bar {
          width: 45px;
          margin-right: 17px;
          height: 20px;
          border-radius: 50px;
        }

        &-thumb {
          background-image: url("../assets/svg/sun.svg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          transform: translateY(3px);
          transition: all .3s;

          &-container {

          }
        }

        &-ripple {
          transform: translateY(3px);
        }
      }
    }
  }
}


:host ::ng-deep .switch {
  &__default {
    & .mat-slide-toggle-bar {
      width: 45px;
      margin-right: 17px;
      height: 20px;
      border-radius: 50px;
    }

    & .mat-slide-toggle-thumb-container {
      transform: translateY(3px);
    }

    &.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
      transform: translate(26px, 3px);
    }
  }

  &__text {
    & .mat-slide-toggle-bar {
      margin-right: 0px;
    }
  }

  &-text {
    line-height: 0;

    &Left {
      position: absolute;
      user-select: none;
      line-height: 24px;
      font-size: 1rem;
      left: 0.7rem;
      font-weight: 700;
    }

    &Right {
      position: absolute;
      user-select: none;
      line-height: 24px;
      font-size: 1rem;
      right: 0.7rem;
      font-weight: 700;
      z-index: -1;
    }
  }
}

.lang {
  &-header {
    font-size: 1.3rem;
  }
}

.toolbar {
  position: fixed;
  z-index: 2;
}

.sidenav {
  &-lang {
    margin-top: 15px;
    margin-left: 16px;
  }

  &-switch {
    margin-top: 5px;
  }

  &-link {
    min-width: 200px;
    transition: all .5s;

    &:hover {
      padding-left: 10px;
    }
  }
}

/*:host ::ng-deep .switch {
  &__lang {
    .mat-slide-toggle-bar {
      &:before {
        content: 'RU';
        display: inline-block;
      }

      &:after {
        content: 'EN';
        display: inline-block;
      }

    }
  }
}*/

.superBlock {
  background: green;
  z-index: 1500;
  height: 300px;
}

.mat-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-form {
  margin-top: 5rem;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding: 5rem;
}

.example-full-width {
  width: 100%;
}

.example-radio-group {
  display: block;
  border: 1px solid #555;
  margin: 20px;
  padding: 10px;
}

.toolbar {
  &-hamburger {
    margin-right: 5px;
  }

  &-link {
    font-size: 2rem;
  }
}

.header {
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  width: 100%;
  margin-bottom: 4.5rem;
}


.hamburger {
  outline: none;
}

/* MAIN */


.main {
  height: 100vh;
  max-height: 100vh;

  &-name {
    //color: var(--secondary-color);
  }

  &-text {
    line-height: 1.2;
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  &-btn {
    font-size: 2.4rem;
  }
}


/* ABOUT */
.about {
  padding-left: 2rem;
  padding-right: 2rem;

  &-btn {
    font-size: 1.8rem;

    &Container {
      margin-top: 1.5rem;
    }
  }

  &-text {
    flex-direction: column;
  }

  &-details {
    &.mat-list-item {
      height: auto;
      padding: 0 0 29px;
    }
  }
}

.link {
  &__white {
    color: #fff;
    border-color: #fff;
    &:visited {
      color: #fff;
    }
  }
}

.picture {
  &-me {
    max-width: 330px;
    max-height: 350px;
    object-position: center;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  }
}

/* PROJECTS */
.projects {
  padding-left: 2rem;
  padding-right: 2rem;

}

.project {
  margin-bottom: 5rem;

  &-paragpraph {
    margin-bottom: 0;
  }

  &-whatidid {
    & .mat-expansion-panel {
      margin: 20px 0;
    }
  }

  &-license {
    padding: .5rem;
    font-size: 1.3rem;
    font-weight: 700;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
    border: none;
  }

  &-header {
    &Container {
      padding-right: 0;
    }

    display: inline-block;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0;
  }

  &-actions {
    margin-top: 1.5rem;
  }

  &-thumbnail {
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    width: 90%;
  }
}

.stack {
  &-item {
    display: inline-block;
    //background: rgba(purple, .4);
    //color: #fff;
    padding: 1rem;
    font-size: 0;

    &Text {
      font-size: 1.2rem;
    }
  }
}

/* CONTACT */
.contact {
  &-text {
    font-size: 2.4rem;
  }
}

/* FOOTER */
.footer {
  background: #333;
  color: grey;
  padding: 8rem 0;

  &-copyright {
    font-size: 1.3rem;
    text-align: center;
  }

  &-icon {
    cursor: pointer;
    transition: all .3s;
    text-decoration: none;

    &:hover {
      transform: translateY(-4px);
    }

    &__top {
      font-size: 3rem;
      color: #fff;
    }
  }

  &-social {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  &-delimiter {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    width: 50%;
    border-top: 2px solid hsla(0, 0%, 100%, .1);
  }
}

.social {
  &-icon {
    color: #fff;
    font-size: 3.3rem;
    transition: all .2s ease-in-out;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 4rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    &-text {
      margin-top: 2.5rem;
    }

    &-btnContainer {
      text-align: center;
    }

    &-paragraph {
      text-align: center;
    }
  }
}

@media screen and (max-width: 576px) {
  :host ::ng-deep .header {
    &-toggle {
      & .mat-slide-toggle-content {
        display: none;
      }
    }
  }

  .project {
    &-license {
      display: block;
      width: fit-content;
    }
  }

  .contact {
    &-text {
      font-size: 2rem;
      text-align: center;
    }

    &-btn {
      margin-top: 2rem;
    }
  }
  .header {
    font-size: 3.5rem;
  }
  .main {
    padding: 0px 20px;

    &-text {
      font-size: 2rem;
    }

    &-btn {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 991px) {
  .project {
    &-thumbnail {
      width: 100%;
      margin-top: 2rem;
    }
  }
}

@media (max-width: 599px) {
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 64px;
  }
}

@media (max-width: 390px) {
  .about {
    &-detailsPanel {
      & mat-panel-title {
        text-align: center;
      }
      & mat-expansion-panel-header {
        height: 54px !important;
      }
    }
  }

}

